* {
    font-family: sans-serif;
    color: white;
}

header {
    background-color: rgb(16, 51, 116);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 220px;
}

button{
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    height:62;
    padding: 0 24px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: rgb(16, 51, 116);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;}

button:hover{background-color: 292000;}


header span {
    text-transform: uppercase;
    font-size: 100px;
    margin-left: 30px;   
}

header table {
    max-width: 1000px;
    max-height: 700px;
}

header summary{text-transform: uppercase;
color: rgb(255, 206, 0);
margin-left: 20px;}

header summary:last-child{margin-left: 2000px;}

#zubieta-oria {
    color: rgb(255, 206, 0);
}

#headerra details summary:nth-child(even) {
    display: inline;
}

#headerra nav {
    display: flex;
    gap: 30px;
    padding-bottom: 10px;
    align-items: center;
}



#headerra nav a {
    text-decoration: none;
    color: rgb(255, 206, 0);
}


.menua-ezkerrean {
    margin-top: 75px;
    margin-left: 750px;
    text-transform: uppercase;
}

.desplegablea {
    position: relative;
}

.desplegable-menua{
    display: none;
    position: absolute;
    background-color: rgb(16, 51, 116);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10px;
}
.desplegablea:hover .desplegable-menua {
    display: block;
}

 #headerra li > a{
    display: block;
    color: rgb(255, 206, 0);
    padding: 16px 1px 1px 16px;
    text-decoration: none;
 }

#headerra li > a:hover {
    background-color: rgb(255, 206, 0);
    color: rgb(16, 51, 116);
}



